{% extends 'base.html.twig' %}

{% block title %}Hello{% endblock %}
{% block navone %}<a class="nav-link" href="{{path('app_logout')}}">Logout</a>{% endblock %}
{% block navtwo %}{% endblock %}
{% block body %}
{# card #}
<div class="container">
    <div class="row mt-5">
        <div class="card">
          <img class="card-img-top p-2 mt-3 " src="{{asset('uploads/mia.jpg')}}" alt="Card image" style="width: 400px;">
          <div class="card-body">
            <h4 class="card-title">{{app.user.name}}</h4>
            <p class="card-text">Student</p>
            <a href="{{path('app_project_registration')}}" class="btn btn-primary">Register A Project</a>
          </div>
        </div>

    </div>
</div>
{% endblock %}
