{% extends 'base.html.twig' %}

{% block title %}Hello ProjectRegistrationController!{% endblock %}
{% block navone %}<a class="nav-link" href="{{path('app_dashboard')}}">Back</a>{% endblock %}
{% block navtwo %}<a class="nav-link" href="{{path('app_logout')}}">Logout</a>{% endblock %}

{% block body %}
{# jumbotron #}
<div class="mt-4 p-2 bg-grey text-secondary text-center rounded">
  <h1>Register A Project</h1>
</div>

<h1>On the Basis Of Teacher</h1>
<h1>On the Basis Of Language</h1>
<h1>On the Basis Of Self</h1>
{% endblock %}
